@page "/specifiedcommercialtransactions"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;

<PageTitle>ozarinSCT</PageTitle>

<div style="margin-bottom:55px"></div>
<div id="container">

	<div id="contents">

		<section class="inner">

			<h2>特定商取引法に基づく表記</h2>
			<table class="table table-bordered">
				<tr>
					<td style="width:28%">■販売事業者名</td>
					<td>高梨眞治</td>
				</tr>
				<tr>
					<td>■所在地</td>
					<td>請求があったら遅滞なく開示します。</td>
				</tr>
				<tr>
					<td>■電話番号</td>
					<td>請求があったら遅滞なく開示します。</td>
				</tr>
				<tr>
					<td>■メールアドレス</td>
					<td>owaso@msn.com</td>
				</tr>
				<tr>
					<td>■運営統括責任者</td>
					<td>高梨眞治</td>
				</tr>
				<tr>
					<td>■追加手数料等の追加料金</td>
					<td>ございません。</td>
				</tr>
				<tr>
					<td>■返金ポリシー</td>
					<td>運営側の故意または重過失のない限り、返金は実施いたしません。</td>
				</tr>
				<tr>
					<td>■引渡時期</td>
					<td>購入後すぐにご利用いただけます。</td>
				</tr>
				<tr>
					<td>■受け付け可能な決済手段</td>
					<td>クレジットカード</td>
				</tr>
				<tr>
					<td>■決済期間</td>
					<td>ただちに処理されます。</td>
				</tr>
				<tr>
					<td>■キャンセル（解約）について</td>
					<td>1ヶ月単位のお支払いとなります（毎月自動継続）。ナビゲーションメニューの「My subscription」よりサブスクリプション管理ページに入ることでいつでもキャンセル（解約）可能です。
						途中キャンセルした場合でも、期限内であればアプリの利用は可能です。</td>
				</tr>
				<tr>
					<td>■販売価格</td>
					<td>¥220（消費税込み）/月</td>
				</tr>
			</table>

		</section>

	</div>
	<!--/#contents-->

</div>
<!--/#container-->
